@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

:root {
    /* Minha paleta de cores */
    --cor0: #0D0221;
    --cor1: #f77f00;
    --cor2: #B62424;
    --cor3: #1E1E24;
    --cor4: #7b2cbf;
    /* Minhas fontes */
    --fonte1: Kablammo, san-serif;
}

body{
    background-color: var(--cor4);
    background-image: url(Design\ sem\ nome.png);
    background-position: top;
    animation-name: corfundo;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin: 0;
}
@keyframes corfundo {
    0%{background-position-y: bottom;}
    25%  {background-color: #f77f00;}
    50%  {background-color: var(--cor4);}
    75%{background-position-x: left;}
}
header{
    background-color: var(--cor1);
    height: 100px;
    width: 100%;
}
header img{
    height: 100px;
    float: left;
    margin-left: 265px;
    margin-right: 15px;
}
header h1, h2{
    margin: 0px;
    padding: 0;
    text-align: left;
    width: 100%;
    font-size: 54px;
}

nav{
    margin: auto;
    width: 1010px;
    position: sticky;
    top: 0;
    
}

nav> ul{
    position: relative;
    margin-top: 0px;
    
    background-color: #0D0221;
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    
}
li{
    border-right: 1px solid white;
    height: 24px;
    padding: 8px;
    margin-left: 80px;
    width: 120px;
    transition: width 2s;
}
li a{
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    
}

li:hover{
    background-color: #7b2cbf;
    
    width: 200px;

}

/*  */
main{
    background-color:rgba(0, 0, 0, 0.932);
    width: 990px;
    margin: auto;
    padding: 8px;
    text-align: justify;
}
main p{
    text-indent: 25px;
}

article{
    width: 95%;
    margin: auto;
    padding: 8px;
    background-color: var(--cor1);
}
article:hover{
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 1px 2px rgba(0, 0, 0, 0.411);
    transition: 0.3s;
}
article img{
    padding-right: 8px;
    float: left;
    margin: 4px;
    height: 200px;
    width: 150px;
}
hr{
    margin: 20px;
}
button{
    
    background-color: #7b2cbf;
    color: white;
    padding: 8px;
    border-radius: 8px;
    width: 90px;
    margin: auto;
}
button a{
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
div#classico{
    height: 350px;
    background-image: url(https://img.freepik.com/free-photo/spooky-zombie-hands-window_23-2149130240.jpg?size=626&ext=jpg&ga=GA1.1.736825390.1698686202&semt=sph);
    background-position: center bottom;
    width: 956px;
    margin: auto;
}
div#lançamentos{
    height: 250px;
    background-color: black;
    width: 957px;
    margin: auto;
    background-image: url(zombie-hand-halloween-theme-concept_1421-451.jpg);
    background-position: center left;
    background-repeat: no-repeat;
}
div#recomendar{
    padding: 0;
    height: 300px;
    background-color: black;
    width: 956px;
    margin: auto;
    background-image: url(https://img.freepik.com/free-photo/three-cute-halloween-pumpkins-autumn-park_1303-17638.jpg?w=826&t=st=1698690274~exp=1698690874~hmac=2db1aa5c8720ced18026ac9ce6c0d954d2a29ab7494c6c1bd54fa95117aab647);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
div#sobre{
    padding: 0;
    height: 300px;
    background-color: black;
    width: 956px;
    margin: auto;
    background-image: url(https://img.freepik.com/free-photo/halloween-decoration-desk_23-2147905777.jpg?w=826&t=st=1698692681~exp=1698693281~hmac=1ed0a92d56b8e96528ab837ae94f85d7d26cf2d0c98fe7fe3985df443516e717);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
div#recomendar h2{
    color: #1E1E24;
    text-align: center;
}
#sobre h2{
    color: #1E1E24;
    text-align: center;
}
div h2{
    
    color: red;
    text-align: center;
    margin-left: -10px;
}
#contato{
    margin: 0;
    padding: 0;
    margin-left: -80px;
    color: black;
}
#contato a{
    color: #0D0221;
}
footer{
    background-color: #0D0221;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
#contato img{
    height: 20px;
    width: 20px;
}