@charset "UTF-8";
h1{
    color: gold;
    font-size: 36px;
    text-align: center;
}
h2{
    color: blue;
    text-align: center;
}
p{
    margin-left: 50px;
    margin-right: 50px;
    color: rgb(5, 5, 5);
    text-align: justify;
}